---
platform: linux

inputs:
  - { name: bosh-config }
  - { name: bosh-deployment }
  - { name: certificate }
  - { name: terraform-yaml }
  - { name: cg-s3-fisma-jammy-release, path: releases/fisma-jammy }
  - { name: aide-release, path: releases/aide }
  - { name: cg-s3-awslogs-jammy-release, path: releases/awslogs-jammy }
  - { name: cg-s3-nessus-agent-release, path: releases/nessus-agent }
  - { name: cg-s3-clamav-release, path: releases/clamav }
  - { name: cg-s3-jammy-snort-release, path: releases/jammy-snort }
  - { name: node-exporter-release, path: releases/node-exporter }
  - { name: syslog-release, path: releases/syslog }

run:
  path: bosh-config/ci/update-runtime-config.sh

params:
  BOSH_CA_CERT:
  BOSH_ENVIRONMENT:
  BOSH_CLIENT:
  BOSH_CLIENT_SECRET:
  BOSH_ENV_NAME:
